body {
    background-image: url(https://images.unsplash.com/photo-1693290315090-f3c3a7631a3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
  h1 {
    text-align: center;
    font-weight: bolder;
    color: #333;
    font-size: 45pt;
    font-family: Trebuchet MS;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: whitesmoke
  }
  .box {
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid #333;
    opacity: 80%;
  }
 